Repository BitNetworkIO/bitnetwork, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shidaxi, @bradyjoestar, @byteflyfunny, @curryxbo, @guoshijiang, @wukongcheng, @silmaj, @HaoyangLiu

sepolia-qa1 rebuild
  ops/scripts/deployer.sh
  packages/contracts/deploy-config/sepolia.ts
  packages/contracts/deployments/sepolia/AddressDictator.json
  packages/contracts/deployments/sepolia/AssertionMap.json
  packages/contracts/deployments/sepolia/BVM_EigenDataLayrChain.json
  packages/contracts/deployments/sepolia/BVM_EigenDataLayrFee.json
  packages/contracts/deployments/sepolia/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/sepolia/BondManager.json
  packages/contracts/deployments/sepolia/CanonicalTransactionChain.json
  packages/contracts/deployments/sepolia/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/sepolia/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/sepolia/ChugSplashDictator.json
  packages/contracts/deployments/sepolia/EmptyContract.json
  packages/contracts/deployments/sepolia/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/sepolia/Lib_AddressManager.json
  packages/contracts/deployments/sepolia/Proxy__AssertionMap.json
  packages/contracts/deployments/sepolia/Proxy__BVM_EigenDataLayrChain.json
  packages/contracts/deployments/sepolia/Proxy__BVM_EigenDataLayrFee.json
  packages/contracts/deployments/sepolia/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/sepolia/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/sepolia/Proxy__Rollup.json
  packages/contracts/deployments/sepolia/Proxy__TSS_GroupManager.json
  packages/contracts/deployments/sepolia/Proxy__TSS_StakingSlashing.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegation.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegationManager.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegationSlasher.json
  packages/contracts/deployments/sepolia/Proxy__Verifier.json
  packages/contracts/deployments/sepolia/Rollup.json
  packages/contracts/deployments/sepolia/StateCommitmentChain.json
  packages/contracts/deployments/sepolia/TssDelegation.json
  packages/contracts/deployments/sepolia/TssDelegationManager.json
  packages/contracts/deployments/sepolia/TssDelegationSlasher.json
  packages/contracts/deployments/sepolia/TssGroupManager.json
  packages/contracts/deployments/sepolia/TssStakingSlashing.json
  packages/contracts/deployments/sepolia/VerifierEntry.json
  packages/contracts/hardhat.config.ts
Owners: @shidaxi, @bradyjoestar

sepolia-qa1 rebuild ctf
  ops/scripts/deployer.sh
  packages/contracts/deploy-config/sepolia.ts
  packages/contracts/deployments/sepolia/AddressDictator.json
  packages/contracts/deployments/sepolia/AssertionMap.json
  packages/contracts/deployments/sepolia/BVM_EigenDataLayrChain.json
  packages/contracts/deployments/sepolia/BVM_EigenDataLayrFee.json
  packages/contracts/deployments/sepolia/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/sepolia/BondManager.json
  packages/contracts/deployments/sepolia/CanonicalTransactionChain.json
  packages/contracts/deployments/sepolia/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/sepolia/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/sepolia/ChugSplashDictator.json
  packages/contracts/deployments/sepolia/EmptyContract.json
  packages/contracts/deployments/sepolia/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/sepolia/Lib_AddressManager.json
  packages/contracts/deployments/sepolia/Proxy__AssertionMap.json
  packages/contracts/deployments/sepolia/Proxy__BVM_EigenDataLayrChain.json
  packages/contracts/deployments/sepolia/Proxy__BVM_EigenDataLayrFee.json
  packages/contracts/deployments/sepolia/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/sepolia/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/sepolia/Proxy__Rollup.json
  packages/contracts/deployments/sepolia/Proxy__TSS_GroupManager.json
  packages/contracts/deployments/sepolia/Proxy__TSS_StakingSlashing.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegation.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegationManager.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegationSlasher.json
  packages/contracts/deployments/sepolia/Proxy__Verifier.json
  packages/contracts/deployments/sepolia/Rollup.json
  packages/contracts/deployments/sepolia/StateCommitmentChain.json
  packages/contracts/deployments/sepolia/TssDelegation.json
  packages/contracts/deployments/sepolia/TssDelegationManager.json
  packages/contracts/deployments/sepolia/TssDelegationSlasher.json
  packages/contracts/deployments/sepolia/TssGroupManager.json
  packages/contracts/deployments/sepolia/TssStakingSlashing.json
  packages/contracts/deployments/sepolia/VerifierEntry.json
  packages/contracts/hardhat.config.ts
Owners: @shidaxi, @bradyjoestar

sepolia-qa3 rebuild ctf
  packages/contracts/deploy-config/sepolia.ts
  packages/contracts/deployments/sepolia/AddressDictator.json
  packages/contracts/deployments/sepolia/AssertionMap.json
  packages/contracts/deployments/sepolia/BVM_EigenDataLayrChain.json
  packages/contracts/deployments/sepolia/BVM_EigenDataLayrFee.json
  packages/contracts/deployments/sepolia/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/sepolia/BondManager.json
  packages/contracts/deployments/sepolia/CanonicalTransactionChain.json
  packages/contracts/deployments/sepolia/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/sepolia/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/sepolia/ChugSplashDictator.json
  packages/contracts/deployments/sepolia/EmptyContract.json
  packages/contracts/deployments/sepolia/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/sepolia/Lib_AddressManager.json
  packages/contracts/deployments/sepolia/Proxy__AssertionMap.json
  packages/contracts/deployments/sepolia/Proxy__BVM_EigenDataLayrChain.json
  packages/contracts/deployments/sepolia/Proxy__BVM_EigenDataLayrFee.json
  packages/contracts/deployments/sepolia/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/sepolia/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/sepolia/Proxy__Rollup.json
  packages/contracts/deployments/sepolia/Proxy__TSS_GroupManager.json
  packages/contracts/deployments/sepolia/Proxy__TSS_StakingSlashing.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegation.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegationManager.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegationSlasher.json
  packages/contracts/deployments/sepolia/Proxy__Verifier.json
  packages/contracts/deployments/sepolia/Rollup.json
  packages/contracts/deployments/sepolia/StateCommitmentChain.json
  packages/contracts/deployments/sepolia/TssDelegation.json
  packages/contracts/deployments/sepolia/TssDelegationManager.json
  packages/contracts/deployments/sepolia/TssDelegationSlasher.json
  packages/contracts/deployments/sepolia/TssGroupManager.json
  packages/contracts/deployments/sepolia/TssStakingSlashing.json
  packages/contracts/deployments/sepolia/VerifierEntry.json
Owners: none

update tmp
  packages/contracts/deployments/sepolia/solcInputs/840ca348a59d4e56dd2711508fae032c.json
Owners: none

update sepolia-qa1-ctf 2024050214
  packages/contracts/deploy-config/sepolia.ts
  packages/contracts/deployments/sepolia/AddressDictator.json
  packages/contracts/deployments/sepolia/AssertionMap.json
  packages/contracts/deployments/sepolia/BVM_EigenDataLayrChain.json
  packages/contracts/deployments/sepolia/BVM_EigenDataLayrFee.json
  packages/contracts/deployments/sepolia/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/sepolia/BondManager.json
  packages/contracts/deployments/sepolia/CanonicalTransactionChain.json
  packages/contracts/deployments/sepolia/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/sepolia/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/sepolia/ChugSplashDictator.json
  packages/contracts/deployments/sepolia/EmptyContract.json
  packages/contracts/deployments/sepolia/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/sepolia/Lib_AddressManager.json
  packages/contracts/deployments/sepolia/Proxy__AssertionMap.json
  packages/contracts/deployments/sepolia/Proxy__BVM_EigenDataLayrChain.json
  packages/contracts/deployments/sepolia/Proxy__BVM_EigenDataLayrFee.json
  packages/contracts/deployments/sepolia/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/sepolia/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/sepolia/Proxy__Rollup.json
  packages/contracts/deployments/sepolia/Proxy__TSS_GroupManager.json
  packages/contracts/deployments/sepolia/Proxy__TSS_StakingSlashing.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegation.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegationManager.json
  packages/contracts/deployments/sepolia/Proxy__TssDelegationSlasher.json
  packages/contracts/deployments/sepolia/Proxy__Verifier.json
  packages/contracts/deployments/sepolia/Rollup.json
  packages/contracts/deployments/sepolia/StateCommitmentChain.json
  packages/contracts/deployments/sepolia/TssDelegation.json
  packages/contracts/deployments/sepolia/TssDelegationManager.json
  packages/contracts/deployments/sepolia/TssDelegationSlasher.json
  packages/contracts/deployments/sepolia/TssGroupManager.json
  packages/contracts/deployments/sepolia/TssStakingSlashing.json
  packages/contracts/deployments/sepolia/VerifierEntry.json
  packages/contracts/deployments/sepolia/solcInputs/840ca348a59d4e56dd2711508fae032c.json
Owners: none

[debug]: Add memory debug logging for eth_call "execution reverted"
  l2geth/rpc/handler.go
Owners: none

[debug]: Add memory debug logging for eth_call "execution reverted"
  l2geth/rpc/handler.go
Owners: none

Add traceback and fix ctx not used issue
  l2geth/rpc/handler.go
Owners: none

check sepolia MNT mint amount
  packages/contracts/contracts/L1/local/TestBitToken.sol
Owners: none

Update README.md
  ops/README.md
Owners: @shidaxi, @bradyjoestar

typo-Update client.go
  batch-submitter/tss-client/client.go
Owners: none

typo-Update prover.go
  fraud-proof/proof/prover.go
Owners: none

Fix typos
  batch-submitter/tss-client/client.go
  fraud-proof/proof/prover.go
Owners: none

Update LICENSE
  LICENSE
Owners: @wukongcheng, @bradyjoestar, @silmaj, @HaoyangLiu

Update LICENSE
  LICENSE
Owners: @wukongcheng, @bradyjoestar, @silmaj, @HaoyangLiu

.github/CODEOWNERS:

/**/Dockerfile*   @shidaxi
/.github          @shidaxi
/ops              @shidaxi @bradyjoestar
/tss              @byteflyfunny
/subsidy          @curryxbo
/mt-batcher       @guoshijiang
/*                @wukongcheng @bradyjoestar @silmaj @HaoyangLiu
